defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend inbound
    bind *:5000
    default_backend fibonacci

backend fibonacci
    server fibonacci-1 host.docker.internal:5001
    # server fibonacci-2 host.docker.internal:5002
    # server fibonacci-3 host.docker.internal:5003

